<ng-container *ngIf="users$ | async as users; else loading">
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Username</th>
        <th>Name</th>
        <th>Phone</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
      </tr>
    </table>
  </ng-container>
  
  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>